@import url('https://fonts.googleapis.com/css?family=Cabin|Comfortaa|Fredoka+One|Gentium+Basic|Handlee|Josefin+Sans|Montserrat|Poiret+One|Poppins|Raleway|Shadows+Into+Light');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display|Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Cantata+One|Josefin+Slab:400,600|Rokkitt:700');

body{
    background-color:white;
}
.headercontainer h1{
    Background-color: #e3242b;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center;
    font-size: 500%;
    font-family: 'poppins';
    color: white;
}

.headercontainer h2{
    Background-color: #e3242b;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    font-size: 300%;
    font-family: 'Rokkitt';
    color:dodgerblue;
}

h1{
    color: teal;
    font-family:'Montserrat';

}

h2{
    font-family:'Montserrat';
}


#nav {
    Background-color: #e3242b;
    margin-top: 0px;
    padding: 20px;
    text-align: center
}

#nav li{

    display: inline;
    padding: 25px
}

#clump img{
    padding-top: 20px;
    margin: 1px auto;
    display: block;

}

#candidates img{
    margin: 1px auto;
    display: block;
    width: 50%;

}

.page-title{
    text-align: center;
    font-size: 3em;
    color:black;
}

.Calendar iframe{
    padding-top: 20px;
    margin: 1px auto;
    display: block;
}


.footercontainer footer{
    Background-color: #e3242b;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    color: white;

}


