#main_nav {
    clear: both;
    display: none; // hidden to start

   ul {
      list-style: none;
      line-height: 1;
      margin: 0;
      padding: 0;
  }

  li{

    a {
      display: block;
      color: #fff;
      background-color: #555;
      text-transform: uppercase;
      padding: 0.625em; // 10px in ems is 10/16
      text-decoration: none;
      border-bottom: 1px solid #eee;
      font-weight: 900;

      &:hover {
        color: #555;
        background-color: #fff;
      }

      &:active {
        color: #555;
        background-color: #f90;
      }
    }
  }
}
